.home-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #010101ec, #2c3239d4), url('../Images/home.jpeg') fixed;
    background-size: cover;
    padding: 70px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px
}